<div class="edc-item-sheet">
  <label>Nom
    <input type="text" name="name" value="{{item.name}}">
  </label>
  <label>Facteur de dégâts
    <input type="number" name="system.facteurDegats" value="{{system.facteurDegats}}" min="0">
  </label>
  <label>Bonus/malus d'initiative
    <input type="number" name="system.bonusMalusInitiative" value="{{system.bonusMalusInitiative}}">
  </label>
  <label>Portée
    <input type="text" name="system.portee" value="{{system.portee}}">
  </label>
  <label>Notes
    <textarea name="system.notes">{{system.notes}}</textarea>
  </label>
</div>
