<div class="edc-item-sheet">
  <label>Nom
    <input type="text" name="name" value="{{item.name}}">
  </label>
  <label>Protection
    <input type="number" name="system.protection" value="{{system.protection}}" min="0">
  </label>
  <label>Malus d'initiative
    <input type="number" name="system.malusInitiative" value="{{system.malusInitiative}}">
  </label>
  <label>Bonus de force (armures sacrées)
    <input type="number" name="system.bonusForce" value="{{system.bonusForce}}">
  </label>
  <label>Notes
    <textarea name="system.notes">{{system.notes}}</textarea>
  </label>
</div>
