<div class="edc-item-sheet">
  <label>Nom
    <input type="text" name="name" value="{{item.name}}">
  </label>
  <label>Puissance (= difficulté d'activation)
    <input type="number" name="system.puissance" value="{{system.puissance}}" min="1">
  </label>
  <label>Aspect lié (nom exact de l'Item Aspect)
    <input type="text" name="system.aspect" value="{{system.aspect}}">
  </label>
  <label>Voie liée
    <input type="text" name="system.voie" value="{{system.voie}}">
  </label>
  <label>Description et effets
    <textarea name="system.description">{{system.description}}</textarea>
  </label>
</div>
